@import "../../resources/css/scss/variable";
@import "../../resources/css/scss/mixins";

.btn {

    background-color: $primary;
    color: $white;
    border: none;
    border-radius: rem(12px);
    font-size: rem(16px);
    font-weight: bold;
    line-height: rem(16px);
    transition: 0.3s all ease-in;

    &:hover,&:focus{
        background-color: $btnPrimaryHover;
    }

    &:disabled,
    &.disabled {
        background-color: $btnDisabled;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.btn-lg {
    padding: rem(18px) rem(20px);
}

.btn-md {
    padding: rem(16px) rem(20px);
}

.btn-secondary {
    background-color: $secondary;

    &:hover, &:focus {
        background-color: $btnSecondaryHover;
    }
}

.btn-quantity {
    padding: rem(15px) rem(12px) rem(8px);
    background-color: $white;
    border: rem(1px) solid #EFF0F1;
    border-radius: rem(8px);

    &:hover , &:focus {
        border: rem(1px) solid $primary;
        background-color: $white;
    }
}

.btn-add {
    padding: rem(15px) rem(32px) rem(8px);
}
.btn-link{
    background-color: transparent;
    color: $primary;
    &:hover, &:focus{
        background-color: transparent;
        color: $btnPrimaryHover;
    }
    &:disabled,
    &.disabled {
        background-color: transparent;
        color: $gray50;
    }
}
.btn-link-secondary{
    color: $secondary;
    &:hover,&:focus{
        color: $btnSecondaryHover;
    }
}

.btn-link-underline{
    text-decoration: underline;
    color: $gray;
    font-size: rem(20px);
    line-height: rem(20px);
    font-weight: 400;
    &:hover, &:focus{
        color: $primary;
    }
} 
.btn-icon{
    display: inline-flex;
    align-items: center;
    width: rem(110px);
    &:hover svg , &:focus svg{
        margin-left: rem(18px);
    }
}