@import 'scss/variable';
@import 'scss/mixins';
@import 'scss/reboot';
@import 'scss/layout';
@import 'scss/typography';

// add Font face here only. for some reason it only works from here.
// I will have to debug more in details.
@font-face {
    font-family: "Nunito";
    src: 
      url("../fonts/nunito/Nunito-Regular.woff") format("woff"),
      url('../fonts/nunito/Nunito-Regular.woff2') format('woff2'),
      url("../fonts/nunito/Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Nunito";
    src: 
      url("../fonts/nunito/Nunito-Medium.woff") format("woff"),
      url('../fonts/nunito/Nunito-Medium.woff2') format('woff2'),
      url("../fonts/nunito/Nunito-Medium.ttf") format("truetype");
    font-weight: 500;
    letter-spacing: 0.01em;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Nunito";
    src: 
    url("../fonts/nunito/Nunito-SemiBold.woff") format("woff"),
    url('../fonts/nunito/Nunito-SemiBold.woff2') format('woff2'),
    url("../fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Nunito";
    src: 
    url("../fonts/nunito/Nunito-Bold.woff") format("woff"),
    url('../fonts/nunito/Nunito-Bold.woff2') format('woff2'),
    url("../fonts/nunito/Nunito-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
