@import 'variable';

::-moz-selection {
	color: $white;
	background: $secondary;
}

::selection {
	color: $white;
	background: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $heading-font-family;
	margin-bottom: 0.5rem;
	color: $heading-color;
	text-transform: uppercase;
	font-weight: normal;
}

.h1,
h1,
.h2,
.h2 {
	font-family: $heading-font-family;
}

.h1-font-2,
.h2-font-2,
.h3-font-2 {
	font-family: $heading2-font-family;
}

.h1,
h1 {
	font-size: $heading1-font-size;
	line-height: $heading1-line-height;
}

.h1-font-2 {
	font-size: $heading1-font-size-2;
	line-height: $heading1-line-height-2;
}

.h2,
h2 {
	font-size: $heading2-font-size;
	line-height: $heading2-line-height;
	letter-spacing: $heading2-letter-spacing;
}

.h2-font-2 {
	font-size: $heading2-font-size-2;
	line-height: $heading2-line-height-2;
	letter-spacing: $heading2-letter-spacing;
}

.h3,
h3 {
	font-size: $heading3-font-size;
	line-height: $heading3-line-height;
	letter-spacing: $heading3-letter-spacing;
}

p,
.p {
	font-family: $font-family;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
}

.content-title,
.sub-title,
.link,
.small-text {
	text-transform: uppercase;
}

.content-title,
.sub-title,
.link,
.small-text,
.heading {
	font-family: $heading-font-family;
}

.content-title,
.sub-title,
.link {
	font-size: rem(10px);
	line-height: rem(16px);
	letter-spacing: 0.3em;
}

.link {
	text-decoration: underline;
	display: inline-block;
}

.small-text {
	font-size: rem(9px);
	line-height: rem(14px);
	letter-spacing: 0.1em;
}

.heading {
	font-size: rem(24px);
	line-height: rem(24px);
}

.content-title {
	color: $black;
	opacity: 0.6;
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: $md-device) {
	.h1,
	h1 {
		font-size: $heading1-font-size-sm;
		line-height: $heading1-line-height-sm;
	}
	.h1-font-2 {
		font-size: $heading1-font-size-sm-2;
		line-height: $heading1-line-height-sm-2;
	}
	.h2,
	h2 {
		font-size: $heading2-font-size-sm;
		line-height: $heading2-line-height-sm;
	}
	.h2-font-2 {
		font-size: $heading2-font-size-sm-2;
		line-height: $heading2-line-height-sm-2;
	}
}
